@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 320px) {

   p { 
      font-size: 25px; 
   }

}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #21D4FD;
  background-image: linear-gradient(120deg, #21D4FD 0%, #B721FF 100%);  
}

.loading {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.subhead {
  font-family: 'Karla', sans-serif;
  font-size: calc(20px + 1vw);
  /*font-size: 5vw;*/
  color: #ffffff ;
  position: relative;
  margin-top: -25px;
}

.bigtext {
  font-size: calc(30px + 2vw) ;
  color: #ffffcc; 
  font-family:'Karla', sans-serif;"
}
img {
  height: 100px;
  width: 150px;
}